deepspeed
git+https://github.com/huggingface/transformers
torch
wandb
datasets
evaluate
pandas==2.2.3
openpyxl==3.1.5
google-generativeai==0.8.2
python-dotenv==1.0.1
pillow
matplotlib
scikit-learn
xgboost
catboost
lightgbm
accelerate
sentencepiece
shap
optuna
configargparse
qhoptim
networkx
pytorch-lightning
pytorch-tabnet
tensorflow
keras
einops
lifelines
h5py
loguru
ray
